.logo {
    height: 80px;
    position: relative;
    top: 85px;
}
header{
    background-image: url(../img/pattern.png);
    background-size: auto;
    background-color: rgb(9, 101, 206);
    height: 180px;
}
figure{
    margin-left:0px;
}
.titolo{
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 20px;
}
.caption{
    list-style-type: none;
    margin:0 auto;
    padding-left: 0;
}
.caption-titolo{
    margin:0 auto;
    color:rgba(0, 0, 0, 15);
   
}
.testo-colorato{
    color: rgb(15, 102, 160);
}
.grigio{
    color: rgb(104, 104, 104);
}
.lista-main{
    list-style-type:square;
    list-style-position: inside;
    padding-left: 0px;  
}
.font16{
    font-size: 100px;
}