.logo {
    height: 80px;
    position: relative;
    top: 85px;
}
header{
    background-image: url(../img/pattern.png);
    background-size: auto;
    background-color: rgb(9, 101, 206);
    height: 180px;
    
}
.titolo{
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 20px;
}
figure{
    margin-left:0px;
}
.caption-titolo{
    margin:0 auto;
    color:rgba(0, 0, 0, 15);
   
}
.caption{
    list-style-type: none;
    margin:0 auto;
    padding-left: 0;
}

.text-blue{
    color: rgb(15, 102, 160);
}
.text-grey{
    color: rgb(104, 104, 104);
}
.list-main{
    list-style-position: inside;
    padding-left: 0px;  
}
.font-13{
    font-size: 13px;
}
.font-18{
    font-size: 18px;
}
.tab-head-blue{
    background-color: rgb(48, 134, 231);
    text-align: left;
    border-spacing: 0px;
}
.tab-body-cyan{
    background-color: #c1eaf5;
    text-align: left;
}
.image-monitor{
    height:200px;
    background-image: url('../img/monitor.jpg');
    background-size: contain;
    background-repeat: no-repeat; 
}
.image-graph{
    height: 200px;
    background-image: url('../img/graph.jpg');
    background-size: contain;
    background-repeat: no-repeat; 
}
.text-white{
    color: white;
}
.width-row{
    width: 20%;
}
.table-border{
    border-collapse: collapse;
}